<!DOCTYPE html>
<html lang="en">
<head>
    <title>Nido de Zombies</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <style>
    body{
        background-color: red;
        opacity: 90;
    }
    </style>
      
</head>


<body>

    <div class="navbar navbar-default navbar-static-top" role = "navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Nido de Zombies</a>
                
    </div>
        <ul class ="nav navbar-nav navbar-right">
        <% if (currentZombie){ %>
        <li>
            <a href="/edit">
            Bienvenid@, <%= currentZombie.name()%>
            </a>
        </li>
        <li>
            <a href="/logout">Salir</a>
        </li>
        <li>
            <a> <%= currentZombie.rol()%></a>
        </li>
        <li>
            <a href="/armas">Ingresar Arma</a>
        </li>
        <li>
            <a href="/armas_list">Arsenal</a>
        <% } else {%>  
        <li>
            <a href="/login">Entrar</a>
        </li>
        <li>
            <a href="/signup">Registrarse</a>
        </li>
        
        </li>
        <% } %>
        </ul>
    </div>
</div>
<div class="container">
    <% errors.forEach(function(error) { %>
        <div class="alert alert-danger" role="alert">
    <%= error %>
        </div>
    <% }) %>
    <% infos.forEach(function(info) { %>
        <div class= "alert alert-info" role="alert">
    <%= info %>
        </div>
    <% }) %>
    
