<%include header %>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <ul class="navbar-nav">
          <li class="nav-item ">
            <a class="nav-link" href="/">Zombies</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="/clases">Clases</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/armas">Armas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/victimas">Victimas</a>
          </li>
        </ul>
      </nav>
      <h1>Victimas</h1>
      <table>
        <tr>
          <th>Nombre</th>
          <th>Dirección</th> 
          <th>Telfono</th>
          <th>Instagram</th>
        </tr>
        <tr>
          <td>Kanye West</td>
          <td>La Casa Blanca Washington D.C.</td>
          <td>78245963</td>
          <td>PresidentYeezyWest</td>
        </tr>
        <tr>
          <td>Yoddeling Kid</td>
          <td>AY AYEO OWA AOUDO AII EA EO DAULO </td>
          <td>452125484151</td>
          <td>DeadMeme</td>
        </tr>
        <tr>
          <td>El Chicharito</td>
          <td>West Ham United Dressing Room</td>
          <td>451651665</td>
          <td>EstoyBien</td>
        </tr>
        <tr>
          <td>Benji Price</td>
          <td>Shuetetsu School Basemetn</td>
          <td>451648422</td>
          <td>NankatsuSucks</td>
        </tr>
      </table>
      <br>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="/main.js"></script>

<%include footer %>